<!DOCTYPE html>
<html>
  <head>
  <% include include/head.html %>
  </head>
  <body class="w3-container">
	<% include include/header.html %>
	<section>
		<article>
			
		</article>
	
	</section>
  </body>
</html>
