<!DOCTYPE html>
<html>
<head>
<% include include/head.html %>
</head>
<body>
<% include include/header.html %>
<section>
	<article>
	<h3>회원등록</h3>
	<form action="/join" method="post">
		<label>회원ID</label>
		<input class="w3-input" type="text" 
			id="userid"	name="userid">	

		<label>비밀번호</label>
		<input class="w3-input" type="text" 
			id="password" name="password">	

		<label>회원이름</label>
		<input class="w3-input" type="text" 
			id="username" name="username">	
		<button>회원가입</button>
	</form>	
	
	</article>
</section>

</body>
</html>