<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form action="/myHome" method="POST">
    	<button type="submit">전송</button>
    </form>
    <a href="http://localhost:3000/add/50/40">계산</a>
  </body>
</html>
