script.
	$(function(){
		var index = 1
		$("#btninsert").click(function(){
			$.ajax({
				type:'POST',
				url:'/pinsert',
				data : {index:index++}, 
				success : function(data) {
					$('#inputform').append(data)
				},
				error : function(err){
					alert(err.responseText)
				
				}
			})
		})
	})
	
style.
	.aa {
		color:blue;
	}
		
// 여기는 1주석
//- 여기는 2주석
form(action='input',method='post')
	article#inputform
		p
			input#p1.aa(type='checkbox', value='0',name='ch') 
			input(type="text",name="a1")
	
	p: button(type='submit') 전송
	p: button(type='button')#btninsert 추가