<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<h3><%- name %>님 반갑습니다</h3>
  	<h4><%= message %></h4>
  	<h4><%- message %></h4>
  </body>
</html>
