doctype html
html(lang="ko")
	head
		meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title 메모장 보기
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
		link(rel="stylesheet",href="https://www.w3schools.com/w3css/4/w3.css")
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")