nav.w3-bar.w3-blue
	a(href="/", class="w3-bar-item w3-button").w3-bar-item-w3-button Home
	a(href="/file", class="w3-bar-item w3-button") 파일올리기
	a(href="/list", class="w3-bar-item w3-button") 주소록보기
	
	
